header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

header figure {
  margin: 0;
}

header nav {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  width: 100%;
}

nav ul {
  display: flex;
  gap: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "slider slider"
    "produit produit"
    "contenu contenu";
  gap: 20px;
}

/* Section Produit */
section#produit {
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
}

.produit-card {
  width: 45%;
  padding-top: 80px;
  margin: 10px 0;
  height: 200px;
}

section#contenu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

section#contenu > figure,
section#contenu > p {
  display: flex;
  gap: 20px;
  align-items: center;
  flex: 1;
}

section#contenu > figure:nth-child(2),
section#contenu > p:nth-child(3) {
  flex-direction: row-reverse;
}

section#contenu img {
  width: 100%;
  height: auto;
}

section#contenu p {
  margin: 0;
  padding: 20px;
}
